/*********PARTE MEDIA INDEX*********/
.imgFondo {
    background-image: url('../multimedia/foto_fondo_mobile.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.vision {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    .item{
        width: 180px;
        height: 180px;
        margin: 50px 10px 0px;
        font-size: 20px;
        text-align: center;
    }

    i {
        font-size: 40px;
    }
}

.textFilo {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    margin: 40px 0 60px;
    padding: 20px;

    h1 {
        text-transform: uppercase;
        font-weight: 200;
    }

    .text1 {
        text-align: justify;
        text-align-last: justify;
    }

    .text2,
    .text3 {
        text-align: center;
        align-items: center;
    }
}